/*=====================================
  Mondrian Grid styles
  =====================================*/

table {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-flow: column;
}

row {
  flex: 1 1 100%;

  display: flex;
  flex-flow: row;
}

cell {
  flex: 1 1 100%;

  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
}

.vertical-cell {
  flex-flow: row;
}

cell > cell {
  flex: 1 1 100%;
  border: 1px solid black;
  transition: background-color 100ms;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}